.dialog-window {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  align-items: flex-start;
}

.dialog-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.task-description {
  resize: unset;
}

textarea {
  width: 100%;
}

mat-button-toggle-group {
  display: flex;
  width: fit-content;
}

.blue {
  color: #71deff;
}
.green {
  color: #36e9b6;
}
.yellow {
  color: #ffcf44;
}
.purple {
  color: #b15cff;
}
.red {
  color: #e74a4a;
}
.gray {
  color: gray;
  align-items: center;
}
