<mat-sidenav-container class="container__sidenav">
  <mat-sidenav
    role="navigation"
    aria-label="side nav bar"
    #drawer
    class="navbar__side"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar aria-label="side nav bar menu" class="navbar__side--menu"
      >Menu</mat-toolbar
    >

    <mat-nav-list>
      <a
        aria-label="side nav: home"
        tabindex="0"
        mat-list-item
        routerLink="/"
        (click)="drawer.close()"
        >Home</a
      >
      <a
        aria-label="side nav: login"
        tabindex="0"
        mat-list-item
        routerLink="/login"
        routerLinkActive="navbar__side--active"
        (click)="drawer.close()"
        *ngIf="!(afAuth.authState | async)"
        >Login</a
      >
      <a
        aria-label="side nav: Kanban Demo"
        tabindex="0"
        mat-list-item
        routerLink="/kanban"
        routerLinkActive="navbar__side--active"
        (click)="drawer.close()"
        >Kanban Demo</a
      >
      <a
        aria-label="side nav: ssr demo"
        tabindex="0"
        mat-list-item
        routerLink="/technologies"
        routerLinkActive="navbar__side--active"
        (click)="drawer.close()"
        >Technologies</a
      >
      <a
        aria-label="side nav: logout"
        tabindex="0"
        mat-list-item
        (click)="signout()"
        *ngIf="afAuth.authState | async"
        >Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="navbar__main">
      <div class="navbar__main--btn">
        <button
          type="button"
          aria-label="Toggle side nav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>

      <div class="navbar__main--brand">
        <a mat-button routerLink="/"
          ><img
            class="navbar__main--logo"
            src="assets/kanban-icons/kanban-black-icon.svg"
            alt="Kanban App"
            aria-label="Kanban app logo"
          />
          <span aria-label="App name: Kanban" class="navbar__main--name"
            >Kanban</span
          >
        </a>
      </div>

      <div
        role="navigation"
        aria-label="main tool bar"
        class="navbar__main--menu"
      >
        <div class="main__menu--items" *ngIf="!(isHandset$ | async)">
          <a
            class="menu__items--link"
            mat-button
            routerLink="/kanban"
            routerLinkActive="navbar__main--active"
            >🍱 Kanban Demo</a
          >
          <a
            class="menu__items--link"
            mat-button
            routerLink="/technologies"
            routerLinkActive="navbar__main--active"
            >⚡ Technologies</a
          >
          <a
            class="menu__items--link"
            mat-button
            routerLink="/login"
            routerLinkActive="navbar__main--active"
            *ngIf="!(afAuth.authState | async)"
            >🔑 Login</a
          >
          <a
            class="menu__items--link"
            mat-button
            (click)="signout()"
            *ngIf="afAuth.authState | async"
            >Logout</a
          >
        </div>
        <div>
          <button
            role="menu"
            aria-label="overflow menu"
            class="navbar__main--overflow"
            mat-icon-button
            [mat-menu-trigger-for]="menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu" aria-label="overflow menu list">
            <mat-nav-list>
              <a
                aria-label="github link to the source code of the project"
                mat-menu-item
                href="https://github.com/sathyassn/angular-kanban-app"
                target="blank"
              >
                <i>💾</i>
                <span>Code on GitHub</span>
              </a>
            </mat-nav-list>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
