<mat-card class="card-main" *ngIf="technology | async as tech">
  <mat-card-header>
    <mat-card-title class="tech-title">{{ tech.name }}</mat-card-title>
    <!-- <mat-card-subtitle>Note on the tech</mat-card-subtitle> -->
  </mat-card-header>
  <img class="tech-image" mat-card-image [src]="tech.image" [alt]="tech.name" />
  <mat-card-content>
    <p class="tech-description">{{ tech.description }}</p>
  </mat-card-content>
</mat-card>

<mat-card class="card-sub">
  <p>Content rendered using Angular Universal, Node.js & Google Cloud Run</p>
  <p>Paste URL:</p>
  <pre>/{{ techId }}</pre>
  <a
    href="https://cards-dev.twitter.com/validator"
    target="blank"
    mat-stroked-button
    >Twitter Card Validator</a
  >
  <button mat-raised-button routerLink="/technologies">Back</button>
</mat-card>
