// SCSS styles partial import
@import "src/_styles.partials.scss";

.container {
  width: 94%;
  margin: 3% auto;
}

.container__auth {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;

  grid-template-areas:
    "title"
    "google"
    "email"
    "footer";

  align-items: center;
  justify-content: center;
  align-content: center;

  column-gap: 0.5%;
  row-gap: 0.5%;
}

.content__auth--title {
  grid-area: title;
  justify-self: center;
  width: fit-content;
  margin: 1% auto;
}

.content__auth--google {
  grid-area: google;
  justify-self: center;
  width: fit-content;
  margin: 1% auto;
}

.content__auth--google img {
  width: 1.25rem;
  padding: 0.2rem;
  vertical-align: middle;
}
.content__auth--google h1 {
  margin-top: 2%;
  font-size: 0.9rem;
  text-align: center;
}

.content__auth--email {
  grid-area: email;
  justify-self: center;
  width: fit-content;
  margin: 1% auto;
}

.content__auth--loggedin {
  grid-area: title;
  justify-self: center;
  width: fit-content;
  margin: 1% auto;
}

.footer {
  grid-area: footer;
  justify-self: center;
  width: fit-content;
  margin: 2% auto;
}
