<div class="container">
  <main class="container__auth">
    <div class="content__auth--title" *ngIf="!(afAuth.authState | async)">
      <h1>Login</h1>
    </div>

    <div class="content__auth--google" *ngIf="!(afAuth.authState | async)">
      <a mat-raised-button appGoogleSignin aria-label="Login with Google">
        <picture>
          <object data="assets/google-icon.svg" type="image/svg+xml"></object>
          <!-- <img src="assets/google-icon.svg" alt="Google Icon" /> -->
        </picture>

        <span>Login with Google</span>
      </a>
      <h1 *ngIf="!(afAuth.authState | async)">OR</h1>
    </div>

    <div class="content__auth--email">
      <app-email-login *ngIf="!(afAuth.authState | async)"></app-email-login>
    </div>

    <div
      class="content__auth--loggedin"
      *ngIf="afAuth.authState | async as user"
    >
      <p mat-subheader>
        Logged in as &nbsp;<strong>{{ user?.email }}</strong>
      </p>
    </div>
  </main>
</div>
