.dialog-form {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  align-items: flex-start;
}

.dialog-form__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.dialog-form__content p {
  white-space: nowrap;
}

.dialog-form__actions {
  display: flex;
  flex-wrap: nowrap;
}
