<div class="container">
  <div class="container__list"></div>
  <div class="container__list--title">
    <h1>Technologies</h1>
  </div>

  <mat-nav-list class="container__list--tech" role="listbox">
    <h3 mat-subheader>Major web technologies used in this demo application</h3>
    <a
      mat-mat-list-item
      class="list__tech--link"
      *ngFor="let tech of technologies | async"
      [routerLink]="tech.id"
      role="list item"
    >
      <mat-icon
        aria-label="technology list logo"
        class="list__tech--logo"
        mat-list-icon
        >developer_mode</mat-icon
      >
      <h3 class="list__tech--name">{{ tech.name }}</h3>
    </a>
  </mat-nav-list>
</div>
