h1 {
  margin: 1.5rem;
  text-align: center;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40vw;
  margin: 0.75rem auto;
  background-color: #212121;
}

.tech-logo,
.tech-name {
  align-self: center;
  margin: auto 0.25rem;
}

mat-list-item {
  transition: transform 300ms ease;
  &:hover {
    transform: translateY(-3px);
  }
  transition: transform 300ms ease;
}
