// SCSS styles partial import
@import "src/_styles.partials.scss";

// Email login form-width at different break points
@mixin form-width {
  @include max-bpoint($max-bpoint-grid) {
    min-width: 40vw;
  }
  @include max-bpoint($max-bpoint01) {
    min-width: 45vw;
  }
  @include max-bpoint($max-bpoint02) {
    min-width: 50vw;
  }
  @include max-bpoint($max-bpoint03) {
    min-width: 60vw;
  }
  @include max-bpoint($max-bpoint04) {
    min-width: 80vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content__auth--choice,
  .content__auth--form {
    min-width: 32vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-field {
      width: 100%;
      margin: 0 auto;
    }

    @include form-width();
  }

  .server-error {
    text-align: center;
  }
}
