<div class="container">
  <div class="content__title">
    <h1>hello<span class="content__highlight">;</span></h1>
  </div>

  <div class="content__subject">
    <h2>
      <span class="content__highlight">/*</span> <br />
      <span class="content__details--tab1"> welcome to play with </span><br />
      <span class="content__details--tab2"
        >the <span class="content__highlight">kanban</span> progressive web app
        demo...</span
      ><br />
      <span class="content__highlight">*/</span>
    </h2>
  </div>

  <div class="content__details">
    <p></p>
    <p class="content__details--tab1">"app-made-with":</p>
    <p class="content__details--tab2 content__highlight">{{ "{" }}</p>
    <br />
    <p class="content__details--tab2">"front-end" &nbsp;: "Angular",</p>
    <p class="content__details--tab2">
      "backend" &nbsp;&nbsp;&nbsp;: "node.js",
    </p>
    <p class="content__details--tab2">
      "database" &nbsp;&nbsp;: "firebase-firestore",
    </p>
    <p class="content__details--tab2">
      "hosting" &nbsp;&nbsp;&nbsp;: "google cloud",
    </p>
    <br />
    <p class="content__details--tab2">
      "made by" &nbsp;&nbsp;&nbsp;:&nbsp;<span class="content__highlight"
        >"sathya n subbaraj"</span
      >
    </p>
    <br />
    <p class="content__details--tab2 content__highlight">{{ "}" }}</p>
    <a
      mat-stroked-button
      tabindex="0"
      role="button"
      class="btn-effect"
      href="https://github.com/sathyassn/angular-kanban-app"
      target="blank"
      >source</a
    >
  </div>

  <div class="content__image">
    <img
      src="assets/kanban-board/kanban-board-home.png"
      alt="Kanban board image"
    />
  </div>
  <div class="footer"></div>
</div>
