// SCSS styles partial import
@import "src/_styles.partials.scss";

// Variables and functions used in this style sheet
$min-bpoint01: 700px;

@mixin min-width($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

.outer-card {
  margin: 1%;
  width: 90vw;
  max-width: 19rem;
  padding: 4% 4% 2%;
  background: #212121;

  @include min-width($min-bpoint01) {
    width: 19rem;
  }
}

.board {
  min-height: 3rem;
}

.mat-card-title {
  white-space: nowrap;
  margin: 2% 0.25% 0.5%;
  font-size: 1rem;
}

.inner-card {
  margin: 2% 0;
  cursor: pointer;
  word-wrap: break-word;
}

.btn-add,
.btn-delete {
  margin: 1% 2%;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.tasks.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.blue {
  background: #71deff;
  color: black;
}
.green {
  background: #36e9b6;
  color: black;
}
.yellow {
  background: #ffcf44;
  color: black;
}
.purple {
  background: #b15cff;
}
.red {
  background: #e74a4a;
}

.gray {
  background: gray;
  text-decoration: line-through;
}
